.sidebar {
  background-color: #f8f9fa;
}
.sidebar-item {
  color: #343a40;
  transition:
    background-color 0.2s,
    color 0.2s;
}
.sidebar-item:hover {
  background-color: #e9ecef;
  color: #212529;
}
.sidebar-item.active {
  background-color: #dee2e6;
  color: #212529;
}
.sidebar-item .icon {
  margin-right: 8px;
}
